.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: calc(var(--base)*100);
    margin: 0 auto;
    padding-bottom: calc(var(--base)*7);

    border-bottom: calc(var(--base)*2) solid var(--color-purple);
}

.description__title {
    margin-bottom: calc(var(--base)*3);
}

.description__text {
    text-align: justify;
    word-wrap: break-word;
}
