.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: min-content;

    padding: calc(var(--base)*3);
    padding-bottom: calc(var(--base)*2);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan,
.timer {
    margin-top: calc(var(--base)*2);
}

.logo__svg {
    display: block;
    min-width: calc(var(--base)*30);
    max-width: calc(var(--base)*30);
    min-height: calc(var(--base)*12);
    max-height: calc(var(--base)*12);

    fill: var(--color-white);
}

.slogan {
    text-align: center;
}

.timer {
    margin-top: calc(var(--base)*7);
}

.timer__time {
    color: var(--color-red-dark);
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: flex-end;
    }

    .logo {
        align-items: flex-start;
    }
    
    .slogan {
        margin-left: calc(var(--base)*5);
    }
    
    .slogan,
    .timer {
        margin-top: calc(var(--base)*2);
    }

    .timer {
        margin-left: auto;
        margin-right: calc(var(--base)*20);
    }
}
