.shedule {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--base)*5);
}

.shedule__title,
.shedule__talks {
    margin: 0 auto;
}

.shedule__title {
    margin-bottom: calc(var(--base)*7);
}

.talk {
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: calc(var(--base)*100);
    padding-top: calc(var(--base)*2);
    margin-bottom: calc(var(--base)*8);

    border-top: var(--base) solid transparent;
    border-image: 100% 0 0 linear-gradient(90deg, var(--color-red), var(--color-red-dark) 10%, transparent 35%);

    opacity: 0;
    transform: translateY(-40px);

    transition: transform 1s, opacity 1.1s;
    transition-timing-function: cubic-bezier(0.37, 0.6, 0.22, 1.01);
}

.talk.visible {
    opacity: 1;
    transform: translateX(0);
}

.talk__time,
.talk__title {
    margin-bottom: calc(var(--base)*2);
}

.talk__time {
    font-size: var(--font-size-large);
}

.talk__title {
    font-size: var(--font-size-large);
    text-transform: uppercase;
}

.talk__description {
    color: var(--color-white-smoke)
}

@media (min-width: 1024px) {
    .talk__time {
        position: absolute;
        left: -8em;
    }
}
